.grid {
  display: grid;
  margin: auto;
  max-width: 1400px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 1rem;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 740px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
